@import "../styles/animations.scss";
@import "../styles/variables.scss";

.HeroContent {
  position: relative;
  width: 100vw;
  height: 650px;
  animation: slideInLeft 0.5s forwards;
  animation-duration: 1s;
  .hero-image {
    height: 100%;
    width: 100%;
  }
  .hero-movie-details {
    position: absolute;
    top: 40px;
    left: 2.5vw;
    h1 {
      font-size: 78px;
      margin-bottom: 0;
    }
    p {
      width: 350px;
      margin-top: 0;
    }
  }
  .hero-movie-support {
    bottom: 7rem;
    right: 4vw;
    position: absolute;
  }
  .opacity-filter {
    position: absolute;
    background: linear-gradient(
      0deg,
      $background-color 0%,
      $background-color 6%,
      rgba(0, 0, 0, 0) 50%
    );
    top: 0;
    height: 100%;
    width: 100%;
  }
}
