@import "../styles/animations.scss";

.HeroContent {
  position: relative;
  width: 100vw;
  height: 650px;
  animation: slideInLeft 0.5s forwards;
  animation-duration: 1s;
  .hero-image {
    height: 100%;
    width: 100%;
  }
  .hero-movie-details {
    top: 40px;
    left: 2.5vw;
    position: absolute;
    h1 {
      font-size: 78px;
      margin-bottom: 0;
    }
    p {
      width: 350px;
      margin-top: 0;
    }
  }
  .hero-movie-support {
    bottom: 7rem;
    right: 4vw;
    position: absolute;
  }
}
