@import "../styles/animations.scss";

.HeroContent {
  position: relative;
  width: 100vw;
  height: 650px;
  animation: slideInLeft 0.5s forwards;
  animation-duration: 1s;
  .hero-image {
    height: 100%;
    width: 100%;
  }
  .hero-movie-details {
    top: 80px;
    left: 2.5vw;
    position: absolute;
  }
  .hero-movie-support {
    bottom: 7rem;
    right: 4vw;
    position: absolute;
  }
}
