@import "../styles/variables.scss";
.LoginPage {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  width: 100vw;
  height: 100vh;
  .login-image {
    background: url("https://images.unsplash.com/photo-1482160549825-59d1b23cb208?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80");
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 15px 10px black;
  }
  .login-section {
    display: grid;
    grid-template-rows: 200px 1fr 200px;
    color: rgb(231, 231, 231);
    .main-title {
      text-align: center;
      color: $accent;
    }
    form {
      h2 {
        text-align: center;
      }
      display: flex;
      position: relative;
      justify-self: center;
      align-self: center;
      flex-direction: column;
      background-color: rgba(46, 46, 46, 0.637);
      box-shadow: 0 0 15px 5px rgb(17, 17, 17);
      border-radius: 8px;
      padding: 1rem;
      width: 300px;
      height: 300px;
    }
    .sign-in {
      border: none;
      padding: 0.3rem;
      margin-top: 1rem;
      padding: 0.5rem;
      border-radius: 3px;
      background-color: $accent;
      color: white;
      &:hover {
        cursor: pointer;
        background-color: $accent-hover-darker;
      }
    }
  }
  .new-member {
    display: flex;
    margin-top: 4rem;
    p {
      margin: 0;
    }
    .sign-up {
      border: none;
      background: transparent;
      color: $accent;
      padding: 0;
      padding-left: 0.5rem;
      &:hover {
        cursor: pointer;
        color: $accent-hover-lighter;
      }
    }
  }
}
.input-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  label {
    transition: 0.2s ease-in-out;
  }
  .text-above {
    pointer-events: none;
    top: 31px;
    font-size: 18px;
    padding-left: 0.6rem;
    color: black;
    position: absolute;
  }
  .text-inside {
    position: absolute;
    top: 0px;
    color: white;
  }
  input {
    padding: 0.5rem 0.7rem;
    margin: 1.5rem 0 0.5rem 0;
    border: none;
    outline: none;
    border-radius: 3px;
  }
}
