@keyframes slideInLeft {
  from {
    left: -200%;
  }
  to {
    left: 0px;
  }
}

@keyframes slideInRight {
  from {
    right: -200%;
  }
  to {
    right: 0px;
  }
}

[data-aos="fade"] {
  opacity: 0;
  transition-property: opacity;
}

[data-aos="fade"].aos-animate {
  opacity: 1;
}
