@keyframes slideInLeft {
  from {
    left: -200%;
  }
  to {
    left: 0px;
  }
}

@keyframes slideInRight {
  from {
    right: -200%;
  }
  to {
    right: 0px;
  }
}

@keyframes fade-in-temp-hold {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes img-fade-in {
  from {
    filter: brightness(0);
  }
  to {
    filter: brightness(100%);
  }
}
