@import "../../_global_styles/variables.scss";
@import "../../_global_styles/animations.scss";

.MovieCard {
  border: 1px solid $text-dark;
  background-color: $text-dark;
  margin: 0.2rem 0.15rem;
  position: relative;
  transition: 0.4s min-width ease-in-out;
  overflow: hidden;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
  img {
    height: 251px;
  }
  .overlay {
    position: absolute;
    z-index: 5;
    height: 100%;
    width: 100%;
    animation: fade-in-hold 1.5s forwards;
    .filter {
      height: 100%;
      background-color: black;
      filter: opacity(35%);
    }
  }
}

.card-content {
  color: white;
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 100%;
  .card-details {
    display: flex;
    margin: 0.5rem 0 1rem;
  }
  .card-language {
    color: rgb(1, 182, 1);
    font-weight: bold;
  }
  h4 {
    font-size: 20px;
    padding-left: 1rem;
    margin: 0;
  }
  p {
    margin: 0;
    padding-left: 1rem;
  }
}

.hidden {
  opacity: 0;
  color: white;
}

.fadeIn {
  animation: fadeIn 0.5s forwards;
}

.img-fade-in {
  animation: img-fade-in 1.2s forwards;
}
