@import "../styles/animations.scss";

.NavBar {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100vw;
  h3 {
    margin: 0;
    padding: 1rem 0;
  }
  .NavLinks {
    display: flex;
    margin: 0;
    padding: 0;
  }
  a {
    margin: auto 0;
    text-decoration: none;
    color: black;
    margin: 1rem;
    &:hover {
      color: red;
    }
  }
}

.nav-width {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 95vw;
}

.solid {
  background-color: white;
  transition: background-color 0.5s ease 0s;
  box-shadow: 0 0 4px grey;
}

.transparent {
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 0.5s ease 0s;
}
