@import "../styles/animations.scss";
@import "../styles/variables.scss";

.NavBar {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100vw;
  h3 {
    margin: 0;
    padding: 1rem 0;
  }
  .nav-links {
    display: flex;
    margin: 0;
    padding: 0.5rem 2.5rem;
  }
  a {
    margin: auto 0;
    text-decoration: none;
    &:hover {
      color: $accent;
    }
  }
}

.nav-width {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 95vw;
}

.solid {
  color: $text-dark;
  background-color: white;
  transition: background-color 0.5s ease 0s;
  box-shadow: 0 0 4px grey;
  .navLinks {
    background-color: $text-dark;
    height: 20px;
  }
  a {
    color: $text-light;
  }
}

.transparent {
  color: $text-light;
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 0.5s ease 0s;
  a {
    color: $text-light;
  }
}
