.NavBar {
  h3 {
    margin: 0;
    padding: 1rem 0;
  }
  ul {
    border: 1px solid red;
    display: flex;
    margin: 0;
    padding: 0;
  }
  li {
    margin: auto 1rem;
    border: 1px solid red;
    list-style-type: none;
  }
}

.nav-width {
  display: flex;
  justify-content: space-between;
  border: 1px solid blue;
  width: 95vw;
}
