@import "../styles/variables.scss";

.LoginPage {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  width: 100vw;
  height: 100vh;
  .login-image {
    background: url("../images/torn-posters.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 15px 10px black;
  }
  .login-section {
    display: grid;
    grid-template-rows: 200px 1fr 200px;
    color: rgb(231, 231, 231);
    .main-title {
      text-align: center;
      color: $accent;
    }
  }
  .new-member {
    display: flex;
    margin-top: 4rem;
    p {
      margin: 0;
    }
    .sign-up {
      border: none;
      background: transparent;
      color: $accent;
      padding: 0;
      padding-left: 0.5rem;
      &:hover {
        cursor: pointer;
        color: $accent-hover-lighter;
      }
    }
  }
}
.input-wrapper {
  @include input-styling;
}
