@import "../styles/animations.scss";

.carousel-container {
  margin: 1.5rem 0;
  h4 {
    margin: 0 0 0.7rem 0.2rem;
    font-size: 28px;
    color: white;
  }
}

.carousel {
  animation: slideInRight 0.5s forwards;
  animation-duration: 1s;
  overflow-y: hidden;
  display: flex;
  width: 95vw;
}

.carousel::-webkit-scrollbar {
  width: 0 !important;
}
