@import "../styles/animations.scss";

.carousel-container {
  // border: 1px solid red;
  position: relative;
  margin: 1rem 0 0 0;
  h4 {
    margin: 0 0 1rem 0.2rem;
    font-size: 28px;
    color: white;
  }
}

.carousel {
  // border: 1px solid red;
  position: relative;
  animation: slideInRight 0.5s forwards;
  animation-duration: 1s;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  width: 95vw;
}
