@import "../../_global_styles/variables.scss";
@import "../../_global_styles/animations.scss";

.HeroGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  width: 95vw;
  height: 700px;

  .grid-1-container {
    position: relative;
    grid-row-start: 1;
    grid-row-end: 3;
    @include gridStyles;
  }
  .grid-2-container {
    position: relative;
    grid-row-start: 3;
    grid-row-end: 5;
    @include gridStyles;
  }
  .grid-3-container {
    position: relative;
    grid-row-start: 5;
    grid-row-end: 7;
    @include gridStyles;
  }
  .grid-4-container {
    position: relative;
    grid-row-start: 1;
    grid-row-end: 4;
    @include gridStyles;
  }
  .grid-5-container {
    position: relative;
    grid-row-start: 4;
    grid-row-end: 7;
    @include gridStyles;
  }
  .grid-6-container {
    position: relative;
    grid-row-start: 1;
    grid-row-end: 7;
    @include gridStyles;
  }
  section {
    margin: 0.1rem;
  }
}
