$accent: rgb(236, 28, 28);
$accent-hover-darker: rgb(197, 24, 24);
$accent-hover-lighter: rgb(255, 21, 21);
$text-dark: black;
$text-light: white;
$background-color: rgb(19, 19, 19);

@mixin gridStyles {
  .grid-item {
    transition: 0.2s filter ease-in-out;
    filter: brightness(1);
    &:hover {
      filter: brightness(1.1);
    }
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
  }
  .grid-title {
    display: inline;
    position: absolute;
    left: 10px;
    top: 10px;
    pointer-events: none;
    color: white;
  }
  .grid-para {
    display: inline;
    position: absolute;
    left: 10px;
    top: 35px;
    color: white;
  }
}

@mixin input-styling {
  display: flex;
  position: relative;
  flex-direction: column;
  label {
    transition: 0.2s ease-in-out;
  }
  .text-above {
    pointer-events: none;
    top: 31px;
    font-size: 18px;
    padding-left: 0.6rem;
    color: $text-dark;
    position: absolute;
  }
  .text-inside {
    position: absolute;
    top: 0px;
    color: $text-light;
  }
  input {
    padding: 0.5rem 0.7rem;
    margin: 1.5rem 0 0.5rem 0;
    border: none;
    outline: none;
    border-radius: 3px;
  }
}
